* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f2f2f2;
  padding: 40px;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  color: #333;
}

.grid-box{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap:25px;
  padding: 20px;
}
.item{
  background: #4CAF50;
  color:aliceblue;
  font-size: 27px;
  border-radius: 14px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
transition: transform 0.3s ease;
  padding: 40px 0;
}
.item:hover{
    transform: scale(1.05);
}
h3{
    font-size: larger;
    color: #4CAF50;
}