* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f5f5f5;
  padding: 40px;
  text-align: center;
}

.progress-container {
  width: 80%;
  height: 35px;
  margin: auto;
  border: 3px solid #333;
  border-radius: 20px;
  overflow: hidden;
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.progress-bar {
  height: 100%;
  background: linear-gradient(90deg, #b992cf, #8BC34A);
  width: 0%;
  animation: loading 5s linear forwards;
}

@keyframes loading {
  0%   { width: 10%;   background-color: red; }
  25%  { width: 25%;  background-color: rgb(106, 121, 55); }
  50%  { width: 50%;  background-color: yellow; }
  75%  { width: 75%;  background-color: rgb(16, 17, 16); }
  100% { width: 100%; background-color: #4CAF50; }
}

.loading-text {
  margin-top: 20px;
  color: #444;
  font-size: 22px;
  animation: numberCount 5s linear forwards;
}

@keyframes numberCount {
  0%   { content: "0%"; }
  25%  { content: "25%"; }
  50%  { content: "50%"; }
  75%  { content: "75%"; }
  100% { content: "100%"; }
}

/* Responsive */
@media (max-width: 600px) {
  .progress-container {
    width: 95%;
    height: 28px;
  }
}
