*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
      background: #f4f7ff;
      height: 100vh;
      display: flex;
      flex-direction: column;
    align-items: center;
justify-content: center;
}

.title {
  margin-bottom: 40px;
  font-size: 28px;
  color: #333;
}
.wave-loader{
    display: flex;
    gap: 12px;
}
.wave-loader span {
  width: 12px;
  height: 60px;
  background: #4CAF50;
  border-radius: 8px;

  animation: wave 0.8s infinite ease-in-out;
}

.wave-loader span:nth-child(1){animation-delay: 0s;}
.wave-loader span:nth-child(2){animation-delay: 0.1s;}
.wave-loader span:nth-child(3){animation-delay: 0.2s;}
.wave-loader span:nth-child(4){animation-delay: 0.3s;}
.wave-loader span:nth-child(5){animation-delay: 0.4s;}

@keyframes wave{
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(2.4);
    }
    100%{
        transform: scaleY(1);
    }
}

@media (max-width:600px){
    .wave-loader span{
        height: 40px;
        width: 8px;
        background: red;
        font-size: 10px;
    }
}