* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 30px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

/* ----- Transform Card ----- */
.transform-box {
  perspective: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.card {
    margin: 25px;
  width: 200px;
  height: 200px;
  background: #a5822f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.card:hover {
  transform: rotateY(180deg) scale(1.1);
  background: #2b7a8b;
  color: white;
}
