* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background: ghostwhite;
    padding: 30px;
    align-items: center;
    justify-content: center;

}

.gallery{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 20px;
    margin-top: 20px;
}


.gallery img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery img:hover{
    transform: scale(1.05);
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

@media(max-width: 700px){
    .gallery{
        grid-template-columns: repeat(1,1fr);
    }
}

@media(min-width: 701px) and (max-width: 1000px){
    .gallery{
        grid-template-columns: repeat(2,1fr);
    }
}













































































