*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    place-items: center;
    min-height: 100vh;
    background: #f0f0f0;
    padding: 20px;
}

.card{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
    margin: 25px;
    transition: 0.32s ease-in-out;
}
.card:hover{
      transform: translateY(-12px);
}
 .profile {
      width: 150px;
      height: 150px;
      border:5px solid #4CAF50;
      border-radius: 50%;
      margin-bottom: 15px;
      transition: 0.3s ease;
    }

    .card:hover .profile {
      transform: scale(1.1);
    }
    h1{
        font-size: 30px;
        margin-bottom: 10px;
        font-weight: 600;

    }

    button {
      padding: 10px 25px;
      border: none;
      background: #667eea;
      color: white;
      font-size: 16px;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
    }

    button:hover {
      background: #764ba2;
    }

.dot-loader {
    margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.dot-loader span {
  width: 15px;
  height: 15px;
  background: #4CAF50;
  border-radius: 50%;
  animation: wave 0.8s infinite ease-in-out;
}

/* delays */
.dot-loader span:nth-child(1) { animation-delay: 0s; }
.dot-loader span:nth-child(2) { animation-delay: 0.2s; }
.dot-loader span:nth-child(3) { animation-delay: 0.4s; }

/* animation */
@keyframes wave {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.4);
  }
  100% {
    transform: scaleY(1);
  }
}
