*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #ecefff;
    text-align: center;
    padding: 40px;
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card{
    background: white;
    width: 250px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: .3s;
}

.card:hover{
    transform: translateY(-10px);
}

.card img{
    width: 100%;
    border-radius: 10px;
}

button{
    margin-top: 10px;
    padding: 8px 15px;
    background: #4f7cff;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background: #3d5cd8;
}
